# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.La.AspNetCore.Extensions.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\laggage\Documents\coding\projects\La.AspNetCore.Utilities\.idea\.idea.La.AspNetCore.Extensions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
